
.box-face--is-back {
  transform: translateZ(-50px) rotateY(180deg);
  background: no-repeat center/80% url("./media/bootstrap-img.png");
}
.box-face--is-right {
  transform: rotateY(-270deg) translateX(50px);
  transform-origin: top right;
  background: no-repeat center/80% url("./media/mongodb-img.png");
}
.box-face--is-left {
  transform: rotateY(270deg) translateX(-50px);
  transform-origin: center left;
  background: no-repeat center/80% url("./media/sass-img.png");
}
.box-face--is-top {
  transform: rotateX(-90deg) translateY(-50px);
  transform-origin: top center;
  background-color: #fafafa;
}
.box-face--is-bottom {
  transform: rotateX(90deg) translateY(50px);
  transform-origin: bottom center;
  background-color: #bbb;
}
.box-face--is-front {
  transform: translateZ(50px);
  background: no-repeat center/80% url("./media/nodejs-img.png");
}

