body {
  background-color: #252525;
 
}

.App {
  position: relative;
  
  /* background-color: #0070C0; */
  background: no-repeat center/100% url("./media/Particles.gif");
  background-size: cover;
  height: 100vh;
}



._box { 
  position: absolute;
  box-align: center;
  
  /* z-index: 2;  */
  background: transparent;
  width: 100%;
  padding: 0% 0%;
  top: 25%;
  height: 10em;
  opacity: 0.9;
  
}

#App-header {
  background-color: #0070C0;
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #252525;
  padding: 0px 2px;
  margin: 5px 10px;
}

#container_flip {
  margin-bottom: 50px;
  display: block;
  justify-content: space-evenly;
  flex-flow: column wrap;
  background-color: #252525;
  align-items: center;
}

.box-header {
  
  color: aliceblue;
  font-family: "Gill Sans", sans-serif;
  font-size: 5em;
  line-height: 100px;
  text-align: center;
}

.box-text1 {
  
  color: aliceblue;
  font-family: "Gill Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}
.box-text2 {
  
  color: aliceblue;
  font-family: "Gill Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

